{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":7.000019073486328,"scrollleft":0,"selection":{"start":{"row":5,"column":4},"end":{"row":5,"column":63},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1461697328449,"hash":"c356d5e93c9fbfcd521235b208828a08b974c70f"}