<div class="jumbotron text-center">
  <h1>Welcome to Code Camp Sites</h1>
  <h3>A Directory site where FreeCodeCampers can view each other's Portfolios & Projects!</h3>
  
  <p>
    <div align="center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- campsites -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2490173776997871"
             data-ad-slot="5828971648"
             data-ad-format="auto">
        </ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </p>
  
</div>
