
    body {
        background: #2c3e50; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    .navbar {
        background: #780206; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #780206 , #061161); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #780206 , #061161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }    
    .niceBackground {
        background: #7474BF; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #7474BF , #348AC7); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }    
    @-moz-document url-prefix() {
      fieldset { display: table-cell; }
    }
    .tableBackground {
        background: #8e9eab; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .bubbleWrap {margin: 25px;}
    .aboutThumbs{max-width:64px; max-length:64px;}

    @media screen and (max-width: 768px) {
        .lead {
            font-size: 36px !important;
        }
    }
    @media screen and (max-width: 568px) {
        h1 {
        font-size: 60px;
        }
    }
    .table-hover>tbody>tr:hover {
        background-color: #b3b3cc; /* #f5f5f5; */
    }